;
; Required DNS entries for chatmail servers 
;
{% if A %}
{{ chatmail_domain }}.                   A     {{ A }}
{% endif %}
{% if AAAA %}
{{ chatmail_domain }}.                   AAAA  {{ AAAA }}
{% endif %}
{{ chatmail_domain }}.                   MX 10 {{ chatmail_domain }}.
_mta-sts.{{ chatmail_domain }}.          TXT "v=STSv1; id={{ sts_id }}"
mta-sts.{{ chatmail_domain }}.           CNAME {{ chatmail_domain }}.
www.{{ chatmail_domain }}.               CNAME {{ chatmail_domain }}.
{{ dkim_entry }}

;
; Recommended DNS entries for interoperability and security-hardening
;
{{ chatmail_domain }}.                   TXT "v=spf1 a:{{ chatmail_domain }} ~all"
_dmarc.{{ chatmail_domain }}.            TXT "v=DMARC1;p=reject;adkim=s;aspf=s"

{% if acme_account_url %}
{{ chatmail_domain }}.                   CAA 128 issue "letsencrypt.org;accounturi={{ acme_account_url }}"
{% endif %}
_adsp._domainkey.{{ chatmail_domain }}.  TXT "dkim=discardable"

_submission._tcp.{{ chatmail_domain }}.  SRV 0 1 587 {{ chatmail_domain }}.
_submissions._tcp.{{ chatmail_domain }}. SRV 0 1 465 {{ chatmail_domain }}.
_imap._tcp.{{ chatmail_domain }}.        SRV 0 1 143 {{ chatmail_domain }}.
_imaps._tcp.{{ chatmail_domain }}.       SRV 0 1 993 {{ chatmail_domain }}.
