;
; Required DNS entries for chatmail servers 
;
{% if A %}
{{ mail_domain }}.                   A     {{ A }}
{% endif %}
{% if AAAA %}
{{ mail_domain }}.                   AAAA  {{ AAAA }}
{% endif %}
{{ mail_domain }}.                   MX 10 {{ mail_domain }}.
_mta-sts.{{ mail_domain }}.          TXT "v=STSv1; id={{ sts_id }}"
mta-sts.{{ mail_domain }}.           CNAME {{ mail_domain }}.
www.{{ mail_domain }}.               CNAME {{ mail_domain }}.
{{ dkim_entry }}

;
; Recommended DNS entries for interoperability and security-hardening
;
{{ mail_domain }}.                   TXT "v=spf1 a:{{ mail_domain }} ~all"
_dmarc.{{ mail_domain }}.            TXT "v=DMARC1;p=reject;adkim=s;aspf=s"

{% if acme_account_url %}
{{ mail_domain }}.                   CAA 0 issue "letsencrypt.org;accounturi={{ acme_account_url }}"
{% endif %}
_adsp._domainkey.{{ mail_domain }}.  TXT "dkim=discardable"

_submission._tcp.{{ mail_domain }}.  SRV 0 1 587 {{ mail_domain }}.
_submissions._tcp.{{ mail_domain }}. SRV 0 1 465 {{ mail_domain }}.
_imap._tcp.{{ mail_domain }}.        SRV 0 1 143 {{ mail_domain }}.
_imaps._tcp.{{ mail_domain }}.       SRV 0 1 993 {{ mail_domain }}.
