[Unit]
Description=Iroh relay

[Service]
ExecStart=/usr/local/bin/iroh-relay --config-path /etc/iroh-relay.toml
Restart=on-failure
RestartSec=5s
User=iroh
Group=iroh

[Install]
WantedBy=multi-user.target
