[Unit]
Description=Email filter for chatmail servers

[Service]
ExecStart=/usr/local/bin/filtermail afterqueue /var/spool/postfix/private/filtermail
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
