[Unit]
Description=Chatmail Postfix AfterQueue filter 

[Service]
ExecStart=/usr/local/bin/filtermail afterqueue /var/spool/postfix/private/filtermail-afterqueue
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
