[Unit]
Description=Postfix MTA-STS resolver daemon

[Service]
ExecStart=/usr/local/lib/postfix-mta-sts-resolver/bin/mta-sts-daemon
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
