
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>chatmail instance</title>
</head>
<body>
    <h1>Welcome to {{ config.mail_domain }}!</h1>
    <h2>Getting started</h2>
    <ol>
        <li>Install <a href="https://get.delta.chat">https://get.delta.chat</a></li>
        <li>Scan or Tap on the invite QR code</li>
        <li>Choose Nickname and Avatar</li>
        <li>Setup contact with others using <a href="https://delta.chat/en/help#howtoe2ee">
            guaranteed end-to-end encryption via QR code scans</a>
        </li>
    </ol>
    <a href="DCACCOUNT:https://{{ config.mail_domain }}/cgi-bin/newemail.py">
        <img class="section" src="qrcode.png" />
    </a>

    <h2>Constraints</h2>
    <ul>
    <li>You can only send encrypted mails to anyone outside {{config.mail_domain }} </li>
    <li>You may send up to 60 messages per minute</li>
    <li>Messages are unconditionally removed 40 days after arrival</li>
    <li>Max storage per user is 100MB</li>
    </ul>
</body>
</html>
