
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{config.mail_domain}} chatmail provider</title>
    <link rel="stylesheet" type="text/css" href="water.css" />
    <style>
         .column {
          float: left;
          width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
    </style>
</head>
<body>
    <h1>{{ config.mail_domain }} chatmail provider</h1>
    <h2>Dear Delta Chat users and newcomers,</h2>
    <p>
    welcome to the {{config.mail_domain}} chatmail provider,
    a small, fast and privacy-preserving e-mail service for smooth chatting!
    </p>
    <p>
    <a href="https://get.delta.chat">Install Delta Chat</a> and then
    Tap or scan this QR code to obtain a random e-mail address:
    <a href="DCACCOUNT:https://{{ config.mail_domain }}/cgi-bin/newemail.py">
        <img with=300 src="qr-chatmail-invite-{{config.mail_domain}}.png" /></a>
        <br/>
    Alternatively you may tap "LOG INTO YOUR E-MAIL ACCOUNT" and fill the two fields like this: 
    <ul>
      <li><code>Address</code>: invent a word with <i>exactly</i> nine characters
      and append <code>@{{ config.mail_domain }}</code> to it.</li>
      <li><code>Password</code>: invent at least 10 characters. </li>
    </ul>
    If the e-mail address is not yet taken, you'll get that account. 
    The first login sets your password. 

    <h2>Notes and Constraints</h2>
    <ul>
    <li>Setup contact with anybody using <a href="https://delta.chat/en/help#howtoe2ee">
        guaranteed end-to-end encryption via QR codes</a>
    </li>
    <li>Un-encrypted messages are blocked to recipients outside {{config.mail_domain }}</li>
    <li>You may send up to 60 messages per minute</li>
    <li>Messages are unconditionally removed 40 days after arrival</li>
    <li>Max storage per user is 100MB</li>
    </ul>

    <h2>Why are other email providers 1000 times more complicated?</h2>
    <p>¯\_(ツ)_/¯</p>

    <footer>
    <a href="privacy-policy.html">Privacy Policy</a>
    </footer>
</body>
</html>
