
#menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

#menu li {
  display: inline-block;
  padding-right: 0.5em;
}

#domain {
  margin-left: auto;
}

#domain a {
  color: #888;
}

.banner {
  width: 100%;
}

.experimental {
  margin: 3em 0;
  padding: 1em;
  border: 4px dashed red;
  color: red;
  font-weight: bold;
}
